.gig-description {
    margin-bottom: 64px;
    h2 {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 25px;
        color: #404145;
        font-weight: 700;
        margin: 0;
    }
    p {
        color: #62646a;
        margin: 0;
        outline: 0;
        padding: 0;
        line-height: 24px;
    }
}
