
  .slide--thumbniail {
      opacity: 0.6;
  }

  .agile__slide--active {
      opacity: 1;
  }

  .agile_thumbnails {
      background-color: white;
  }



  .main-carousel-details {
      background-size: 80px;
      max-width: 100%;
      max-height: 100%;
      min-width: 140px;
      min-height: 140px;
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
  }

  .view-main-carousel-prev-btn {

      background-color: white;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      font-size:15px;
      padding: 0;
      color:black;
      justify-content: center;
      align-items: center;
      border: 0;
      cursor: pointer;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
      z-index: 6;
      position: relative;
      right: 356px;
      margin-bottom: -200px;
      margin-top: -200px;
      top: 234px;
  }

  .view-main-carousel-next-btn {

    background-color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size:15px;
    padding: 0;
    color:black;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    z-index: 6;
    position: relative;
    left: 353px;
    margin-bottom: -200px;
    margin-top: -200px;
    bottom: 232px;
}



.bot-carousel__prev, .bot-carousel__next{
    background-color: hsla(0,0%,100%,.7);
    border: 0;
}

.bot-carousel__prev:hover , .bot-carousel__next:hover{
    background-color: hsla(0,0%,100%,1);
}


.thumbnails{
    width: calc(100% + 10px);
    margin: auto 0;
    right: 5px;
}

.thumbnails{

margin-top: -25px ;
}