.sidebar-container {    
    aside {
        form {
            width: 100%;
            padding: 20px 24px 24px;
            border: 1px solid rgb(218, 219, 221);
            margin-bottom: 16px;
            header {
                padding-top: 12px;
                padding-bottom: 24px;
                h3 {
                    color: #404145;
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    line-height: 24px;

                    b {
                        font-size: 16px;
                        margin-bottom: 8px;
                    }
                    div {
                        font-size: 20px;
                        padding-left: 10px;
                    }
                }
                p {
                    margin-top: 16px;
                    line-height: 140%;
                    margin-bottom: 0;
                    font-size: 14px;
                    color: #62646a;
                }
            }
            article {
                display: flex;
                font-size: 14px;
                color: #62646a;
                padding-bottom: 32px;
                div {
                    margin-bottom: 8px;
                    svg {
                        position: relative;
                        top: 4px;
                        fill: #62646a;
                    }
                    b {
                        margin-left: 8px;
                        line-height: 24px;
                    }
                }
                .sidebar-revision {
                    margin-left: 16px;
                }
            }
            footer {
                button {
                    width: 100%;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    cursor: pointer;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 100%;
                    padding: 12px 24px;
                    position: relative;
                    text-align: center;
                    text-decoration: none;
                    transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
                    background-color: #1dbf73;
                    color: #fff;
                    &:hover {
                        background: #19a463;
                    }
                }
            }
        }
        .contact-seller {
            background-color: #fafafa;
            padding: 24px;
            text-align: center;
            button {
                transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
                width: 100%;
                color: #62646a;
                background: none;
                cursor: pointer;
                display: inline-block;
                font-size: 16px;
                font-weight: 600;
                line-height: 100%;
                padding: 12px 24px;
                position: relative;
                text-align: center;
                text-decoration: none;
                border-radius: 4px;
                border: 1px solid rgb(98, 100, 106);
                &:hover{
                    background: #74767e;
                    color: #fff;
                }
            }
        }
    }
}
