.carousel__pagination-button {
    margin: var(--vc-pgn-margin);
    width: var(--vc-pgn-width);
    height: var(--vc-pgn-height);
    border-radius: var(--vc-pgn-height);
    border: 0;
    cursor: pointer;
    background-color: white;
  }

  .carousel__prev,
.carousel__next {
  background-color: white;
  border-radius: var(--vc-nav-width);
  width: 48px;
  height:48px;
  text-align: center;
  font-size: calc(var(--vc-nav-width) * 2 / 3);
  padding: 0;
  color: var(--vc-nav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  right: 16px;
  border: 0;
  cursor: pointer;
  top: 50%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
 
}
.carousel__prev{
  left:16px;
}

.carousel__icon {
  width: 32px;
  height: 32px;
  fill: currentColor;
  color: rgb(27, 27, 27);
  background-size: 16px 64px;
  content:"";

}

.main-home-6{
  max-width: 1436px;
  width: 100%;
  margin: 40px auto;
  h2{
      padding-left: 18px;
      padding-right: 18px;
  }
}

.carousel {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  max-width:1436px;
   width:100%

  // right:58px;
  // padding: 0 40px;
}

.slide-image{
  grid-column-start: 1;
  grid-column-end: one;
  grid-row-start: 1;
  grid-row-end: 1;
  -webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
   width: 100%;
   height: 345px;
   padding: 0 8px;

}

.slide-image:hover{
  opacity: 0.8;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}

.main-carousel-slide-txt{
  font-size: 24px;
  grid-column-start: 1;
  grid-column-end: one;
  grid-row-start: 1;
  grid-row-end: 1;
  color:white;
  padding:24px;
  margin-bottom: auto;
  text-align:left;
  font-weight: 700;
  z-index: 1;
  
}
.main-carousel-header{
  font-size: 32px;
  line-height: 120%;
  color: #404145;
  font-family: macanBold;
  padding: 0 0 26px 0;
  margin: 0;
  margin-top:96px;
}