.dashboard {
    width: 100%;
    min-height: calc(100vh - 80px);
    background-color: rgb(247, 247, 247);
    .dashboard-container {
        display: flex;
        .seller-preformance {
            background-color: white;
            width: 455px;
            margin: 20px 0 0 20px;
            padding: 1px 20px 5px;
            border-bottom: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
            height: fit-content;
            @media (max-width: 1000px) {
                display: none;
            }
            .seller-graphs {
                ul {
                    padding: 18px 0 4px;
                    margin-top: 26px;
                    border-bottom: 1px solid #e4e5e7;
                    border-top: 1px solid #e4e5e7;
                    li {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 12px;

                        h6 {
                            color: #404145;
                            margin: 0;
                            padding: 0;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                        .proggress-container {
                            display: flex;
                            align-items: center;
                            .progress-bar {
                                position: relative;
                                height: 8px;
                                background: #e4e5e7;
                                border-radius: 999px;
                                width: 60px;
                                span {
                                    background: #1dbf73;
                                    height: 100%;
                                    position: absolute;
                                    left: 0;
                                    border-radius: 999px;
                                }
                            }
                            .percentage-text {
                                padding-left: 12px;
                                font-weight: 500;
                                font-size: 14px;
                                width: 45px;
                                text-align: right;
                                color: #62646a;
                            }
                        }
                    }
                }
            }
            .dashboard-profile {
                .seller-details {
                    padding-top: 24px;
                    display: flex;
                    align-items: center;
                    img {
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        margin-right: 20px;
                        object-fit: cover;
                    }
                    div {
                        line-height: 140%;
                        font-size: 18px;
                        color: #62646a;
                        font-weight: 700;
                    }
                }
            }
            .seller-earnings {
                display: flex;
                justify-content: space-between;
                margin-top: 18px;
                margin-bottom: 20px;
                line-height: 140%;
                div {
                    color: #62646a;
                    font-size: 16px;
                }
                span {
                    float: right;
                    font-weight: 700;
                    color: #62646a;
                }
            }
        }
        .dashboard-orders {
            padding: 20px 20px 20px 20px;
            width: 100%;
            h3 {
                line-height: 42px;
                margin: 0;
                padding: 0;
                font-size: 18px;
                display: inline-block;
                color: #0e0e0f;
                font-weight: 800;
                font-family: macanBold;
                span {
                    color: #999;
                    line-height: 24px;
                }
            }
            .orders-filter {
                padding: 12px;
                background-color: white;
                border: 1px solid #eee;
                box-shadow: 0 2px 3px -2px rgb(0 0 0 / 15%);
                position: relative;
                z-index: 1;
                display: flex;
                justify-content: space-between;
                h3 {
                    text-transform: capitalize;
                }
                // align-items: center;
                select {
                    font-size: 16px;
                    line-height: 24px;
                    height: 42px;
                    border: 1px solid #c5c6c9;
                    // letter-spacing: 0.7px;
                    color: #62646a;
                    border-radius: 4px;
                    padding: 11px 8px 11px 8px;
                    font-family: macan;
                    transition: 0.15s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        border-color: #95979d;
                    }
                }
            }
            .orders-container {
                ul {
                    @media (min-width: 1000px) {
                        background-color: white;
                    }
                    display: flex;
                    flex-direction: column-reverse;
                    padding: 0;
                    .order-categories {
                        display: flex;
                        padding: 10px 15px;
                        border: 1px solid #eee;
                        border-bottom: 0;
                        @media (max-width: 1000px) {
                            display: none;
                        }
                        div {
                            padding-left: 11px;
                        }
                        .category-title {
                            margin-right: auto;
                            flex: 1;
                        }
                        .category-name {
                            width: 20%;
                        }
                        .category-price {
                            width: 10%;
                        }
                        .category-actions-dashboard {
                            width: 15%;
                        }
                        .category-status {
                            width: 10%;
                        }
                    }
                    li {
                        box-shadow: 0 2px 3px -2px rgb(0 0 0 / 15%);
                        @media (max-width: 1000px) {
                            border: #e5e5e5 solid 1px;
                            background-color: white;
                            margin-top: 10px;
                            padding: 0;
                        }
                        .mobile-card {
                            @media (min-width: 1000px) {
                                display: none;
                            }
                            
                            .mobile-title {
                                white-space: normal;
                            }
                            .mobile-name {
                                display: flex;
                                justify-content: space-between;
                            }
                            .mobile-status {
                                display: flex;
                                justify-content: space-between;
                            }
                            .mobile-actions {
                                display: flex;
                                justify-content: space-around;
                                span {
                                    border: 1px solid;
                                    padding: 7px 28px;
                                    border-radius: 3px;
                                }
                                .accept {
                                    border-color: #1dbf73;
                                    color: #1dbf73;
                                    &:hover {
                                        background-color: #1dbf73;
                                        color: white;
                                    }
                                }
                                .cancel {
                                    border-color: #74767e;
                                    &:hover {
                                        background: #74767e;
                                        color: white;
                                    }
                                }
                            }
                            padding: 2px;
                        }
                        .media-q {
                            display: flex;
                            width: 100%;

                            @media (max-width: 1000px) {
                                display: none;
                            }
                        }
                        border: 1px solid #eee;
                        padding: 15px;
                        display: flex;
                        transition: background-color 0.1s;
                        @media (max-width: 1000px) {
                            flex-direction: column;
                        }
                        &:hover {
                            background-color: #f4f4f4;
                        }
                        img {
                            width: 55.125px;
                            height: 42px;
                        }
                        div {
                            font-size: 14px;
                            line-height: 20px;
                            color: #555;
                            white-space: nowrap;
                            padding: 11px;
                        }
                        .gig-title {
                            margin-right: auto;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            flex: 1;
                        }
                        .buyer-name {
                            width: 20%;
                        }
                        .price {
                            width: 10%;
                        }
                        .actions {
                            width: 15%;
                            span {
                                cursor: pointer;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                        .status-dashboard {
                            width: 10%;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}
