.gig-reviews {
    header {
        h2 {
            margin: 0;
            outline: 0;
            padding: 0;
            padding-bottom: 20px;
            width: 100%;
            line-height: 42px;
            font-size: 20px;
            color: #404145;
            font-weight: 700;
            small {
                fill: #ffb33e;
                svg {
                    margin-left: 4px;
                    width: 15px;
                }
                span {
                    color: #ffb33e;
                    margin-left: 5px;
                    font-size: 16.6667px;
                }
            }
        }
    }
    .breakdown {
        display: flex;
        padding-bottom: 24px;
        margin-left: -16px;
        margin-right: -16px;

        .ratings {
            padding: 0 16px;
            flex-basis: 50%;
            max-width: 50%;
            padding-top: 1px;
            h6 {
                margin: 0;
                outline: 0;
                padding: 0;
                padding-bottom: 16px;
                font-weight: 600;
                font-size: 16px;
                line-height: 140%;
                color: #404145;
            }
            ul {
                margin: 0;
                outline: 0;
                padding: 0;
                list-style: none;
                list-style-image: none;
                li {
                    display: flex;
                    justify-content: space-between;
                    color: #95979d;
                    padding-bottom: 8px;
                    line-height: 24px;
                    span {
                        color: #62646a;
                        white-space: nowrap;
                        margin-left: 12px;
                        svg {
                            width: 15px;
                            height: 15px;
                            fill: #ffb33e;
                        }
                    }
                }
            }
        }
        .statistics {
            padding: 0 16px;
            flex-basis: 50%;
            max-width: 50%;
            table {
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                tbody {
                    tr {
                        font-weight: 400;
                        height: fit-content;
                        white-space: nowrap;
                        vertical-align: top;
                        height: 32px;
                        .rating-tag {
                            padding: 0;
                            padding-bottom: 4px;
                            height: fit-content;
                            padding: 6px;
                            span {
                                color: #446ee7;
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 100%;
                            }
                        }
                        .progress-bar-container {
                            width: 100%;
                            padding: 10px 10px 0 6px;
                            margin: auto;
                            height: 32px;
                            .progress-bar {
                                position: relative;
                                height: 8px;
                                background: #e4e5e7;
                                border-radius: 999px;
                                width: 100%;
                                span {
                                    background-color: #ffb33e;
                                    width: 20%;
                                    height: 100%;
                                    position: absolute;
                                    border-radius: 999px;
                                }
                            }
                        }
                        .rating-amount {
                            color: #446ee7;
                            padding-bottom: 4px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
    .details-reviews {
        ul {
            margin: 0;
            outline: 0;
            padding: 0;
            li {
                padding: 16px 0 32px 44px;
                position: relative;
                border-top: 1px solid #dadbdd;
                &:last-child {
                    border-bottom: 1px solid #dadbdd;
                }
                .review-pic {
                    width: 32px;
                    height: 32px;
                    float: left;
                    margin-left: -44px;
                    border-radius: 50%;
                }
                header {
                    padding-bottom: 3px;
                    line-height: 24px;
                    .review-username {
                        display: flex;
                        align-items: center;
                        padding: 4px 0;
                        h5 {
                            margin: 0;
                            font-size: 16px;
                            line-height: 120%;
                            margin-right: 10px;
                            font-weight: 700;
                            color: #404145;
                        }
                        small {
                            line-height: 24px;
                            svg {
                                fill: #ffb33e;
                                position: relative;
                                top: 2px;
                            }
                            span {
                                color: #ffb33e;
                                font-weight: 700;
                                margin-left: 5px;
                                font-size: 16px;
                                line-height: 140%;
                            }
                        }
                    }
                    .review-country {
                        display: inline-flex;
                        img {
                            margin: 3px 0;
                            width: 20px;
                            height: 14px;
                            border-radius: 2px;
                        }
                        div {
                            color: #62646a;
                            font-size: 14px;
                            padding-left: 8px;
                            line-height: 21px;
                        }
                    }
                }
                p {
                    margin: 0;
                    padding: 8px 0;
                    line-height: 22px;
                    color: #404145;
                    font-size: 14px;
                    word-wrap: break-word;
                }
                time {
                    color: #95979d;
                    font-size: 14px;
                    line-height: 21px;
                }
                .review-liked {
                    padding: 12px 0;
                    display: flex;
                    div {
                        align-items: center;
                        display: flex;
                        padding: 2px 0;
                        cursor: pointer;
                        color: #404145;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 21px;
                        font-family: macanLight;
                        svg {
                            fill: #404145;
                            margin-right: 4px;
                        }
                    }
                    .review-like {
                        padding-right: 16px;
                    }
                }
            }
        }
    }
}
.dim {
    opacity: 0.7;
    td {
        color: #dadbdd !important;
    }
    span {
        color: #dadbdd !important;
    }
}
