.main-sub-menu-full-header {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    color: #62646a;
    position: sticky;
    top: 0px;
    z-index: 3000;
    transition: background-color .5s ease;

    .app-header {
        height: 39px;
        max-width: 1400px;
        width:100%;
        margin: 0 auto;
        background-color: rgba(95, 158, 160, 0);
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;

        .logo {
            float: left;
            font-family: "logoFont", serif;
            font-size: 28px;

            span {
                color: #4ce9a0;
                font-weight: 900;
            }
        }

        a {
            height: auto;
            display: block;
            color: #62646a;
            text-align: center;
            text-decoration: none;

            .not-exist {
                color: lightgray;
                cursor: not-allowed;
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row-reverse;
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            margin-right: -24px;
            align-items: center;

            // background-color: #333;
            li {
                &:first-child {
                    a {
                        color: #1dbf73;
                        font-size: 14px;
                        padding: 7px 20px;
                        border: #1dbf73 solid 1px;
                        border-radius: 4px;
                        line-height: 14px;
                        transition: color 0.5s ease, border 0.5s ease;

                        &:hover {
                            background: #19a463;
                            color: #fff;
                        }
                    }
                }

                float: right;
                padding-right: 24px;

                a {
                    color: #74767e;
                    transition: 0.2s;
                    letter-spacing: 0.1px;
                }

                &:hover {
                    a {
                        color: #1dbf73;
                    }
                }
            }
        }
    }
}

.main-sub-menu-full-header {
    margin-top: 80px;
    transform: rotateX(90deg);
    position: fixed;
    transition: transform .2s, background-color .5s ease;
    border-top: solid lightgrey 1px;
    border-bottom: solid lightgrey 1px;
    height: 40px;
    color: black;
    width: 100%;
    background-color: white;
}
// .a-main-subheader{
    // margin: auto;
// }
.a-main-subheader-container{
    height: 100%;

    section{
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            box-shadow:         inset 0px -4px 0px #1dbf73;
        }
    }
        }

.header-menu-carousel-text:hover{

  
        // border-bottom: 3px #1dbf73 solid;
        height: 100%;
        
    
}
.hero:hover{
    .hello{
    // border-bottom: 3px #1dbf73 solid;
    }
}
.hero{
    margin: top 12px;;
}