@font-face {
    font-family: domaine;
    src: url('/src/assets/fonts/test-domaine-display-medium-italic.woff2');
}

@font-face {
    font-family: logoFont;
    src: url('/src/assets/fonts/ELEPHNT.TTF');
}

@font-face {
    font-family: macanBold;
    src: url('/src/assets/fonts/macan-bold.woff2');
}

@font-face {
    font-family: macanLight;
    src: url('/src/assets/fonts/macan-light.woff2');
}

@font-face {
    font-family: macan;
    src: url('/src/assets/fonts/macan-regular.woff2');
}